@import '../app/common.scss';

.card {
  @include baseFlex($borderRadius: true, $direction: column);
  padding: 10px;
  border: 1px solid var(--main-color-0);
  width: 500px;

  &:hover {
    cursor: pointer;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Permanent Marker';
    color: var(--main-color-1);
  }
}

.content {
  @include baseFlex($gap: 10px);
  font-size: 20px;
  color: var(--main-color-1);
}

.leftSide,
.rightSide {
  max-width: 50%;
  @include baseFlex($direction: column);
}

.rightSide {
  span {
    color: var(--red);
  }
}

.img {
  max-width: 200px;
  border-radius: $border-radius;
}
