@import '../../../shared/styles/common.scss';

.cover {
  @include flex(center, $alignItems: center);
  width: 500px;
  min-height: 400px;
  padding: 10px;
}

.wrapper {
  @include flex(
    $alignItems: center,
    $direction: column,
    $gap: 10px,
    $borderRadius: true
  );
  width: 100%;
  background: var(--main-color-4);
  color: var(--main-color-1);
  border: 1px solid var(--red);
  position: relative;
  min-height: 100px;
  padding: 10px;

  p {
    padding: 5px 0;
    overflow-wrap: break-word;
  }

  span {
    color: var(--red);
  }
}

.container {
  @include flex(center, $direction: column);
  width: 100%;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--red);
  position: absolute;
  right: 3%;

  &:hover {
    cursor: pointer;
    background: var(--main-color-1);

    &:before,
    &:after {
      background: var(--main-color-4);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background: var(--main-color-1);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
