@import '../../../app/styles/common.scss';

.wrapper {
  @include flex($flexDirection: column, $alignItems: center, $gap: 10px);

  input {
    padding: 3px;
    border-radius: 4px;
    font-weight: bold;
  }

  input[type='file'] {
    display: none;
  }
}

.ceil {
  @include flex(space-between, $flexDirection: column);
  width: 100%;
}

.label {
  @include flex(space-between, $gap: 10px, $alignItems: center);
}

.error {
  @include flex(end, $alignItems: center);
  height: 25px;
  color: var(--red);
  font-size: 15px;
}
